* {
  box-sizing: border-box;
}

.App {
  min-width: 1000px;
  margin: auto;
  display: grid;
}

h1 {
  margin: 0;
  font-size: 40px;
  margin-bottom: 30px;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

header .far{
  font-size: 80px;
  height: fit-content;
  color: #1a4fa5;
}

nav .links a {
  text-decoration: none;
  color: black;
  border: 3px solid #1f5ec4;
  border-radius: 1em;
  width: 150px;
  text-align: center;
  font-size: large;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .links a:visited {
  text-decoration: none;
  color: black;
}

nav .links a:hover{
  background-color: #1f5ec486;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.2s ease 0s;
}

nav {
  width: 800px;
}

.links {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;

}

.home-page {
  display: flex;
  width: 800px;
  justify-self: center;
}

.home-page article h1 {
  margin: 0;
  font-size: 40px;
}

.home-page article p {
  line-height: 1.6;
}

.home-page .far {
  font-size: 300px;
  margin-left: 30px ;
  color: #1f5ec4;
}

.calendar-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "title title"
    "calendar calendar"
    "prev-button next-button"
  ;
  margin: auto;
  width: 800px;
  margin-bottom: 100px;
}

.calendar-page .title {
  grid-area: title;
}

.calendar {
  grid-area: calendar;
  width: fit-content;
  margin: auto;
}

.table-calendar {
  width: fit-content;
}

.month-name {
  float: left;
}

.year-name {
  float: right;
}

.day-holder {
  position: relative;
}

.day {
  width: 100px;
  height: 100px;
  border-width: 3px;
  border-style: solid;
  border-radius: 0.5em;
  font-size: large;
}

.null-day {
  border-color: rgba(128, 128, 128, 0.288);
}

.this-month-day {
  border-color:  #1a4fa5;
}

.today {
  background-color: #1f5ec486;
  border-color:  #1a4fa5;
  color: white;
}

.other-day {
  border-color:  #1f5ec442;
  color: rgba(0, 0, 0, 0.5);
}

.selected-day {
  background-color: #1a4fa5;
  color: white;
}

.day > p , .today > p, .other-day > p {
  margin: 0;
  margin-top: 5px;
  margin-left: 5px;
}

.day:hover {
  cursor: pointer;
}

.non-selected-day:hover {
  background-color: #1f5ec45e;
}

.day-properties {
  position: absolute;
  text-align: center;
  width: 250px;
  left: -75px;
  top: -120px;
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0.5px solid black;
  border-radius: 10px;
  transition: all 1s ease 1s;
  z-index: 10;
}

.week-days {
  text-align: center;
}

.weekend {
  color: #1f5ec4;
}

button.changemonth {
  width: 150px;
  height: 60px;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 20px;
  border: 3px solid #1a4fa5;
  background-color: white;
}

button.changemonth.next {
  grid-area: next-button;
  justify-self: flex-end;
}

button.changemonth.prev {
 grid-area: prev-button;
 justify-self: flex-start;
}

button:hover {
  background-color: #1f5ec45e;
  cursor: pointer;
}

button:active {
  background-color: #1a4fa5;
  color: white;
}

.userslist-page {
  width: 800px;
  justify-self: center;
}

.userslist {
  width: 700px;
  margin: auto;
  margin-top: 30px;
  border: 3px solid #1a4fa5;
  border-radius: 1em;
}

.create-user-page {
  width: 800px;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.user-create {
  align-self: center;
  width: fit-content;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-create input {
  border: 2px solid #1a4fa5;
  border-radius: 1em;
  height: 30px;
  width: 250px;
}

.user-create input[type=text],
.user-create input[type=email],
.user-create input[type=date],
.user-create input[type=password] {
  padding: 0 10px;
  margin-left: 20px;
  margin-bottom: 3px;
}

.user-create input[value="0000-00-00"]::-webkit-datetime-edit {
  color: transparent; 
}

.user-create input[type=submit] {
  margin-top: 20px;
  font-size: large;
  height: 35px;
  color: white;
  background: #1f5ec4;
  border: 3px solid #1f5ec4;
  width: 200px;
}

.user-create input[type=submit]:hover {
  background: #357cda;
  border-color: #357cda;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}


.user-create input[type=submit]:disabled {
  background: rgb(160, 160, 160);
  border-color: rgb(160, 160, 160);
}

input[type=date][value=""]::-webkit-datetime-edit{ color: transparent; }

input[type=date]:focus::-webkit-datetime-edit{ color: black; }


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

